body{  
	font-family:"Arial"; 
	overflow-x:hidden;
	margin: 0px; 
	padding: 0px;
}

img{ 
	position: absolute; 
	display: block; 
	margin: 0px; 
	border: none; 
	padding: 0px; 
}

div{ 
	position: absolute; 
}

#body-container{ 
	position: relative; 
	width: 1440px;  
	overflow: hidden; 
	margin-left: auto; 
	margin-right: auto;
}

#body-container > div{ 
	position: relative; 
	top:inherit; 
}

#page1{

	width: 1440px;
	height: 900px;
}

#page1a{
	width: 1440px;
	height: 900px;
	background:rgba(255,255,255,1);
}

#bg_adjust{
	top: -82px;
	left: -51px;
	width: 616px;
	height: 964px;
}

#rectangle_2779 {
	opacity:0.3;
	top: 846px;
	left: 0px;
	width: 103px;
	height: 118px;
	background:rgba(255,208,18,1);
}


#rectangle_2780 {
	opacity:0.34;
	top: 0px;
	left: 361px;
	width: 109.36px;
	height: 125.28px;
	background:rgba(255,208,18,1);
}

#img1{
	top: 222px;
	left: 75px;
	width: 56px;
	height: 60px;
}

#star_1{
	width: 34px;
	height: 34px;
}


#star_2{
	top: 38px;
	left: 34px;
	width: 22px;
	height: 22px;
}

#img2{
	top: 644px;
	left: 493px;
	width: 123px;
	height: 156.11px;
}

#star_1_ek1{
	width: 99px;
	height: 99px;
}


#star_2_ek1{
	top: 108px;
	left: 75px;
	width: 48.32px;
	height: 48.32px;
}

#index{
	top: 84px;
	left: 118px;
	width: 1466px;
	height: 929px;
}

#index_left{
	top: 86px;
	left: 0px;
	width: 515px;
	height: 667.16px;
}

#powered_text {
	top: 647px;
	left: 2px;
	width: 500px;
	height: 20.16px;
}

#powered_by_fueler {
	top: 1px;
	left: 15px;
	width: 229px;
	height: 33px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 19.199999570847px;
	padding-top: 0.80000042915344px;
	margin-top: -0.80000042915344px;
	color:#000000;
}

#img3 {
	top: 0px;
	left: 130px;
	width: 21px;
	height: 20.16px;
}

#vector{
	top: 0px;
	left: 0px;
	width: 21px;
	height: 20.16px;
}


#vector_ek1{
	top: 5px;
	left: 8px;
	width: 6.38px;
	height: 10.75px;
}

#session{
	top: 388px;
	left: 0px;
	width: 330px;
	height: 177px;
}

#top_session{
	top: 0px;
	left: 0px;
	width: 147px;
	height: 48px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	line-height: 33.999998569489px;
	margin-top: -4.6666661898295px;
	height: 68px;
	color:#000000;
}

#s_card {
	top: 44px;
	left: 0px;
	width: 330px;
	height: 133px;
}

#rectangle1{
	top: 16px;
	left: 0px;
	width: 330px;
	height: 117px;
	border-radius: 15.24px;
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	background:rgba(255,255,255,1);
}

#s_card1{
	top: 94px;
	left: 132px;
	width: 139px;
	height: 21px;
}

#successful_sessions{
	top: 4px;
	left: 8px;
	width: 138px;
	height: 20px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 10px;
	text-align: left;
	color:#000000;
}

#s_card2{
	top: 34px;
	left: 132px;
	width: 163px;
	height: 46px;
}

#nova{
	top: 0px;
	left: -3px;
	width: 115px;
	height: 36px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 18px;
	text-align: center;
	color:#000000;
}

#best{
	left: 0px;
	top: 29px;
	width: 182px;
	height: 27px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: left;
	line-height: 16.688000440598px;
	color:#5F5F5F;
}

#s_card3{
	left: 20px;
	width: 94px;
	height: 116.08px;
}

#rectangle2{
	top: 34px;
	left: 0px;
	width: 94px;
	height: 82px;
	border-radius: 11.64px;
	background:rgba(255,208,18,1);
}

#image_1910 {
	left: 6px;
	width: 82.18px;
	height: 116.08px;
}

#banner_content{
	width: 515px;
	height: 341px;
}

#health{
	top: 171px;
	width: 540px;
	height: 82px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	line-height: 33.999998569489px;
	margin-top: -4.6666661898295px;
	height: 102px;
	color:#000000;
}

#frame_7 {
	top: 281px;
	left: 0px;
	width: 181px;
	height: 60px;
}

#start{
	top: 17px;
	left: 27px;
	width: 136px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#img4{
	top: 296px;
	left: 219px;
	width: 157px;
	height: 30px;
}

#video{
	top: 2px;
	left: 39px;
	width: 130px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: center;
	color:#5F5F5F;
}

#vector_ek2{
	width: 30px;
	height: 30px;
}

#rectangle3{
	top: 37px;
	left: 24px;
	width: 427px;
	height: 29px;
	border-radius: 2px;
	background:rgba(255,249,222,1);
}

#mental_health{
	top: 0px;
	left: 0px;
	width: 553.5px;
	height: 184.5px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 63px;
	font-weight: bold;
	text-align: left;
	line-height: 70.245008111px;
	color:#000000;
}

#banner_right {
	top: 0px;
	left: 544px;
	width: 922px;
	height: 929px;
}

#rectangle4{
	top: 85px;
	left: 62px;
	width: 860px;
	height: 844px;
	border-radius: 35px;
	background:rgba(255,248.47,222.06,1);
}

#fueler_school{
	top: 735px;
	left: 475px;
	width: 202px;
	height: 33px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	line-height: 19.199999570847px;
	padding-top: 0.80000042915344px;
	margin-top: -0.80000042915344px;
	color:#000000;
}

#image_1908 {
	top: 54px;
	left: 83px;
	width: 504px;
	height: 541.99px;
}

#image_1909 {
	left: 100px;
	width: 547.19px;
	height: 588.44px;
}

#img5{
	top: 121px;
	left: 551px;
	width: 79.1px;
	height: 79.1px;
}

#rectangle5{
	top: 0px;
	left: 0px;
	width: 79.1px;
	height: 79.1px;
	border-radius: 11.79px;
	transform:rotate(21.84deg);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	background:rgba(255,255,255,1);
}


#image_1909_ek1 {
	top: 21px;
	left: 11px;
	width: 45.41px;
	height: 45.41px;
}

#image_96 {
	top: 16px;
	left: 17px;
	width: 45.41px;
	height: 45.41px;
}

#img6{
	top: 362px;
	left: 0px;
	width: 275px;
	height: 165px;
}
#img7{
	width: 275px;
	height: 165px;
}

#rectangle6{
	width: 275px;
	height: 165px;
	-ms-border-radius: 11.79px;
	-o-border-radius: 11.79px;
	-moz-border-radius: 11.79px;
	-webkit-border-radius: 11.79px;
	border-radius: 11.79px;
	-ms-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	-o-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	-moz-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	background:rgba(255,255,255,1);
}

#img8{
	top: 19px;
	left: 24px;
	width: 229px;
	height: 128px;
}

#health_state{
	left: -3px;
	width: 135px;
	height: 32px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 16px;
	text-align: center;
	color:#000000;
}

#img9{
	top: 110px;
	left: 0px;
	width: 229px;
	height: 18px;
}

#s {
	top: 0px;
	left: -2px;
	width: 20px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#m{
	left: 35px;
	width: 25px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#t{
	left: 76px;
	width: 18px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#w{
	left: 111px;
	width: 23px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#t_ek1{
	top: 0px;
	left: 150px;
	width: 18px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#f{
	left: 185px;
	width: 17px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}


#s_ek1{
	left: 219px;
	width: 20px;
	height: 28px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 14px;
	text-align: center;
	color:#5F5F5F;
}

#img10{
	top: 43px;
	width: 228px;
	height: 56.47px;
}

#vector_34{
	top: 0px;
	left: 0px;
	width: 228px;
	height: 56.47px;
}


#vector_33{
	width: 228px;
	height: 47.94px;
}

#frame_8_ek1{
	top: 19px;
	left: 182px;
	width: 69px;
	height: 24px;
}

#week{
	top: 4px;
	left: 6px;
	width: 51px;
	height: 24px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 12px;
	text-align: center;
	color:#000000;
}

#vector_ek3{
	top: 9.7px;
	left: 53px;
	width: 8px;
	height: 4.6px;
}

#img11{
	top: 405px;
	left: 417px;
	width: 241px;
	height: 91px;
}

#rectangle7{
	width: 241px;
	height: 91px;
	border-radius: 15.24px;
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	background:rgba(255,255,255,1);
}

#group_3715_ek1 {
	top: 21px;
	left: 102px;
	width: 103px;
	height: 48px;
}

#juliana{
	top: 0px;
	left: -3px;
	width: 117px;
	height: 36px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 18px;
	text-align: center;
	color:#000000;
}

#sessions20{
	top: 27px;
	left: -3px;
	width: 103px;
	height: 32px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 16px;
	text-align: center;
	color:#5F5F5F;
}


#rectangle_2774_ek1 {
	top: 11px;
	left: 14px;
	width: 73px;
	height: 70px;
}

#img12{
	top: 585px;
	left: 132px;
	width: 482px;
	height: 93.72px;
}

#rectangle_2771 {
	width: 482px;
	height: 93.72px;
	border-radius: 12.77px;
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.13);
	background:rgba(255,255,255,1);
}

#img13{
	top: 22px;
	left: 33px;
	width: 416.54px;
	height: 49.99px;
}
#img14{
	width: 135.33px;
	height: 49.99px;
}

#img15{
	left: 55px;
	width: 80.33px;
	height: 49.99px;
}

#heartrate{
	left: -3px;
	width: 93.363333778381px;
	height: 31.563333778381px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 16.07px;
	text-align: center;
	color:#000000;
}


#bpm{
	top: 24px;
	left: 0px;
	width: 88.008518638611px;
	height: 39.708518638611px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 19.64px;
	text-align: center;
	color:#5F5F5F;
}

#image_374{
	top: 1px;
	left: 0px;
	width: 48.2px;
	height: 48.2px;
}

#img16{
	left: 157px;
	width: 137.46px;
	height: 49.99px;
}

#img17{
	top: 0px;
	left: 61px;
	width: 76.34px;
	height: 49.98px;
}

#exercise {
	top: 0px;
	left: -3px;
	width: 77.303333778381px;
	height: 31.563333778381px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 16.07px;
	text-align: center;
	color:#000000;
}


#hour{
	top: 24px;
	left: -3px;
	width: 91px;
	height: 39.708518638611px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 19.64px;
	text-align: center;
	color:#5F5F5F;
}


#image_1004 {
	width: 49.99px;
	height: 49.99px;
}

#img18{
	top: 0px;
	left: 316px;
	width: 100.54px;
	height: 49.99px;
}
#img19{
	top: 0px;
	left: 54px;
	width: 46.41px;
	height: 49.99px;
}

#water{
	top: 0px;
	left: -3px;
	width: 59.443333778381px;
	height: 31.563333778381px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 16.07px;
	text-align: center;
	color:#000000;
}


#ltr{
	top: 24px;
	left: -1px;
	width: 54.088518638611px;
	height: 39.708518638611px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 19.64px;
	text-align: center;
	color:#5F5F5F;
}


#image_1366{
	top: 2px;
	left: 0px;
	width: 46.41px;
	height: 46.41px;
}


#star_4{
	top: 727px;
	left: 113px;
	width: 24px;
	height: 24px;
}


#star_5{
	top: 134px;
	left: 137px;
	width: 27px;
	height: 27px;
}


#star_6{
	top: 540px;
	left: 647px;
	width: 27px;
	height: 27px;
}


#star_7{
	top: 218px;
	left: 647px;
	width: 22px;
	height: 22px;
}

#navbar{
	top: 30.68px;
	left: 118px;
	width: 1202px;
	height: 54.89px;
}

#items{
	top: 14px;
	left: 365px;
	width: 441px;
	height: 27px;
}

#resource{
	/* top: 0px; */
	left: 233px;
	width: 121px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0.2px;
	color:#000000;
}


#home {
	top: 1px;
	left: 0px;
	width: 80px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0.2px;
	color:#000000;
}

#act_item{
	top: 1px;
	left: 91px;
	width: 106px;
	height: 24px;
}

#thought{
	width: 107px;
	height: 38px;
	overflow: hidden;
	font-family: SF UI Display;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0.2px;
	color:#000000;
}

#vector_ek4{
	top: 9px;
	left: 94px;
	width: 12px;
	height: 6.9px;
}

#contact{
	top: 1px;
	left: 365px;
	width: 101px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0.2px;
	color:#000000;
}

#act_btn{
	left: 1031px;
	width: 171px;
	height: 54.57px;
}

#journey{
	top: 15.46px;
	left: 24.29px;
	width: 131px;
	height: 36.745744132996px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 18.19px;
	text-align: center;
	color:#000000;
}

#logo{
	width: 83px;
	height: 54.63px;
}

#heal{
	width: 130.01265907288px;
	height: 83.642659072876px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 42.03px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#rectangle8{
	top: 13px;
	left: 51px;
	width: 17.86px;
	height: 5.25px;
	background:rgba(255,208,18,1);
}